@font-face {
	font-family: 'Computer Modern Serif Slanted';
	src: url('../fonts/cmunsl.eot');
	src: url('../fonts/cmunsl.eot%3F') format('embedded-opentype'),
		 url('../fonts/cmunsl.woff.html') format('woff'),
		 url('../fonts/cmunsl.ttf.html') format('truetype'),
		 url('../fonts/cmunsl.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Computer Modern Serif Slanted';
	src: url('../fonts/cmunbl.eot');
	src: url('../fonts/cmunbl.eot%3F') format('embedded-opentype'),
		 url('../fonts/cmunbl.woff.html') format('woff'),
		 url('../fonts/cmunbl.ttf.html') format('truetype'),
		 url('../fonts/cmunbl.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
