@font-face {
	font-family: 'Computer Modern Bright';
	src: url('../fonts/cmunbmr.eot');
	src: url('../fonts/cmunbmr.eot%3F') format('embedded-opentype'),
		 url('../fonts/cmunbmr.woff.html') format('woff'),
		 url('../fonts/cmunbmr.ttf.html') format('truetype'),
		 url('http://thelittletyper.com/../fonts/cmunbmr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src: url('../fonts/cmunbbx.eot');
	src: url('../fonts/cmunbbx.eot%3F') format('embedded-opentype'),
		 url('../fonts/cmunbbx.woff.html') format('woff'),
		 url('../fonts/cmunbbx.ttf.html') format('truetype'),
		 url('http://thelittletyper.com/../fonts/cmunbbx.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src: url('../fonts/cmunbmo.eot');
	src: url('../fonts/cmunbmo.eot%3F') format('embedded-opentype'),
		 url('../fonts/cmunbmo.woff.html') format('woff'),
		 url('../fonts/cmunbmo.ttf.html') format('truetype'),
		 url('http://thelittletyper.com/../fonts/cmunbmo.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Computer Modern Bright';
	src: url('../fonts/cmunbxo.eot');
	src: url('../fonts/cmunbxo.eot%3F') format('embedded-opentype'),
		 url('../fonts/cmunbxo.woff.html') format('woff'),
		 url('../fonts/cmunbxo.ttf.html') format('truetype'),
		 url('http://thelittletyper.com/../fonts/cmunbxo.svg') format('svg');
	font-weight: bold;
	font-style: italic;
}


